body{
    background: #fafafa
}
.star-img{
    height:3em;
}
.goals-banner{
    height:180px;
    padding: 20px;
    margin: 5% 0%;
    border: 1px solid rgba(0,0,0,.125);
}
.rating{
    padding-top: 4%;
}
.rating img{
    height:40px;
}
.information{
    padding-top: 2%;
}
.goal-header-text h3{
    margin:0;
}
.goal-footer-text h1{
    font-family: 'Nunito Sans', sans-serif;
}
.todos-banner{
    background-color: rgba(228, 228, 228, 0.644);
    text-align: center;
}
.todos-banner ul{
    list-style-type:none;
    padding-left: 0;
}
.todos-post{
    font-family:'Nunito Sans Bold', sans-serif;
    text-align: left;
}
.btn-outline-primary {
    padding-top:5px;
    color: #fff;
    border-color: #6c6e70;
    background-color: #6c6e70;
}
.btn-outline-primary:hover {
    border-color: #212529;
    color: #fff;
    background-color: #212529;
}
.priority-1{
    border-left: 0.2rem solid#56e090;
    padding-left: 0.8rem !important;
}
.priority-2{
    border-left: 0.2rem solid#c7a55b;
    padding-left: 0.8rem !important;
}
.priority-3{
    border-left: 0.2rem solid #f56767;
    padding-left: 0.8rem !important;
}
.priority-4{
    border-left: 0.2rem solid#bd3333;
    padding-left: 0.8rem !important;
}
.card-header a{
    color:#212529;
    text-decoration: none;
}
.card-header a:hover{
    color:#212529;
    text-decoration: underline;
}