{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'languages/languages_page.css' %}">


<div class="container mt-5">
    <div class="row">
        <div class="card card-border-primary px-0">
            <div class="col-md-12 card-header bg-white px-0 mx-0">
                <form action="#" class="form-group row">
                    <div class="col-md-4 ps-4 pe-0 my-1">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search, translate, comments.." aria-describedby="button-addon2">
                            <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
                          </div>
                    </div>
                    <div class="col-md-8 d-flex justify-content-end pe-4 my-1">
                        <button class="btn btn-secondary dropdown-toggle text-dark bg-white border-secondary me-1 button-color" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            By date and language
                        </button>
                        <button class="btn btn-secondary dropdown-toggle text-dark bg-white border-secondary me-1 button-color" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            10
                        </button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateModal">Add</button>
                    </div>
                </form>
            </div>
            
            <div class="card-body p-3 ">
                {% for phrase in phrases %}
                <div class="card p-1 mt-1 bg-light">
                    <h5 class="m-0 ps-2 position-relative d-inline-block">
                        {{ phrase.source_text }} >>> {{ phrase.target_text }}
                        <form action="{% url 'languages' phrase_id=phrase.id %}" class="float-end position-relative" method="post">
                            {% csrf_token %}
                            <button type="button submit" class="btn-close btn-sm " aria-label="Close" name="Delete"></button>
                        </form>
                    </h5>
                    
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Modal for create Phrase -->
<div class="modal fade" id="CreateModal" tabindex="-1" aria-labelledby="CreateModalPhrase" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="UpdateModalLabel">Create Phrase for Languages</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'languages' %}" method="post" class="form-group" id="Create">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        <label for="source_lang_field" class="form-label">Source language</label>
                        {% render_field form.source_lang class="form-control" id="source_lang_field" %}
                    </div>
                    <div class="col-6">
                        <label for="target_lang_field" class="form-label">Target language</label>
                        {% render_field form.target_lang class="form-control" id="target_lang_field" %}
                    </div>
                    <div class="col-12 mt-1">
                        <label for="source_text_field" class="form-label">Source text</label>
                        {% render_field form.source_text class="form-control" id="source_text_field" %}
                    </div>
                    <div class="col-12 mt-1">
                        <label for="target_text_field" class="form-label">Target text</label>
                        {% render_field form.target_text class="form-control" id="target_text_field" %}
                    </div>
                    <div class="col-6 mt-1">
                        <label for="comment_field" class="form-label">Comment</label>
                        {% render_field form.comment class="form-control" id="comment_field" %}
                    </div>
                </div>  
            </form>
        </div>
        <div class="modal-footer">
            <button type="button submit" class="btn btn-primary" name="Create" form="Create">Create</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}